.name {
    padding: 10px;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 50px;
    text-align: left;
    color: rgb(230,230,230);
}
.container {
    margin: 0;
    padding: 10px;
     background-image: url(Mirror.jpg);
    max-width: 100%;
    height: auto;
    
}
body {
    margin: 0;
}
.top {
    background-color: rgba(100,100,100,.8);
    margin: 10px;
}