body {
    background-color: white;
}
.Joe {
    text-align: center;
    font-size: 70px;
    font-size-adjust: auto;
    margin: 0px;
}
.subtitle {
    margin: 5px;
    text-align: center;
    font-size: 30px;
}